@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Press+Start+2P");

html, body {
    height: 100vh;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Press Start 2P";
}

body {
    display: grid;
    grid-template-columns: 30vh auto;
    grid-auto-rows: 15vh auto;
    grid-template-areas: 
    "sidebar header"
    "sidebar content"
}

img {
    aspect-ratio: 1/1;
}


.sidebar-container {
    background-color: #0097ec;
    border-left: solid 12px #040026;
    border-right: solid 12px #040026;
    border-top: solid 12px #00f3fc;
    border-bottom: solid 12px#00f3fc ;
    color:#040026;
    grid-area: sidebar;
    padding-left: 1vh;
    padding-top: 2vh;
    display: grid;
    grid-template-columns: 4vh;
    grid-auto-rows: 8vh;
    grid-template-areas:
    "sidebar-logo sidebar-title"
    "sidebar-content sidebar-content";
    align-items: center;
}

.sidebar-logo {
    grid-area: sidebar-logo;
    height: 32px;
}

.sidebar-title {
    font-size: 22px;
    font-weight: 600;
    grid-area: sidebar-title;
    color: #040026;
}


.sidebar {
    grid-area: sidebar-content;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    height: 100%;
    margin-top: 30vh;
    margin-left: 2vh;
    position:absolute;
}

.sidebar-element {
    display: flex;
    column-gap: 1vh;
    align-items: center;
    -webkit-transition: -webkit-transform 0.1s;
    -moz-transition: -moz-transform 0.1s;
    -ms-transition:  -ms-transform 0.1s;
    transition:  transform 0.1s;
} 

.sidebar-element:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.1s;
    -moz-transition: -moz-transform 0.1s;
    -ms-transition:  -ms-transform 0.1s;
    transition:  transform 0.1s;
}

.sidebar-icon {
    height: 30px;
}


.header-container {
    background-color: #004bc0 ;
    color: #d569f6;
    border: solid 8px #0097ec  ;
    padding: 8px 60px;
    grid-area: header;
    display: grid;
    grid-template-areas:
    "searchbar preview"
    "bottom bottom";
    justify-content: space-between;
}

.searchbar-container {
    grid-area: searchbar;
    display: flex;
    align-items: center;
    column-gap: 3vh;
    position: absolute;
}

.search-button {
    height: 25px;
}

.searchbar {
    width: 80vh;
    border: solid 4px #d569f6;
    padding: 0.5vh 2vh;
    background-color: #ffbcff;
    font-family: "Press Start 2P";
    color: #040026;
    outline: none;
}

input {
    -webkit-transition: -webkit-transform 0.1s;
    -moz-transition: -moz-transform 0.1s;
    -ms-transition:  -ms-transform 0.1s;
    transition:  transform 0.1s;
} 

input:hover, input:focus {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: -webkit-transform 0.1s;
    -moz-transition: -moz-transform 0.1s;
    -ms-transition:  -ms-transform 0.1s;
    transition:  transform 0.1s;
}

.preview-container {
    grid-area: preview;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 4vh;
}

.bell {
    height: 30px;
    -webkit-transition: -webkit-transform 0.1s;
    -moz-transition: -moz-transform 0.1s;
    -ms-transition:  -ms-transform 0.1s;
    transition:  transform 0.1s;
} 
.bell:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: -webkit-transform 0.1s;
    -moz-transition: -moz-transform 0.1s;
    -ms-transition:  -ms-transform 0.1s;
    transition:  transform 0.1s;
}


.small-profile-picture {
    height: 40px;
    border: solid 2px #d569f6;
}

.header-name {
    font-size: 24px;
}

.bottom-header-container {
    grid-area: bottom;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-header-container {
    display: flex;
    flex-direction: row;
    column-gap: 2vh;
    align-items: center;
}

.greeter {
    font-size: larger;
}

.profile-name {
    font-size: xx-large;
    color: #ffbcff;
}

.big-profile-picture {
    height: 56px;
    border: solid 4px #d569f6;
}

.right-header-container {
    display: flex;
    justify-content: space-between;
    column-gap: 4vh;
}

.header-buttons {
    width: 18vh;
    height: 4vh;
    background-color: #6c1fd3;
    border: solid 4px #d569f6;
    color: #ffbcff;
    font-family: "Press Start 2P";
    -webkit-transition: -webkit-transform 0.1s;
    -moz-transition: -moz-transform 0.1s;
    -ms-transition:  -ms-transform 0.1s;
    transition:  transform 0.1s;
} 
.header-buttons:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.1s;
    -moz-transition: -moz-transform 0.1s;
    -ms-transition:  -ms-transform 0.1s;
    transition:  transform 0.1s;
}

.content-container {
    display: grid;
    background-color: #040026 ;
    border: solid 8px #6c1fd3;
    color:#00f3fc;
    padding: 2vh;
    grid-template-areas: 
    "main top-right"
    "main bottom-right";
    grid-template-columns: 125vh 40vh;
    justify-content: center;
}

.main-content {
    grid-area: main;
}

.content-title {
    margin-bottom: 2vh;
}

.card {
    background-color:#d569f6;
    color:#6c1fd3;
    border-left: solid 12px#6c1fd3;
    padding: 10px;
    padding-right: 25px;
    height: 30vh;
    width: 30vh;
    justify-items: center;
}

.card-title {
    margin-bottom: 1vh;
    font-size: 20px;
}

.card-description {
    font-size: smaller;
    color: #ffbcff;
    margin-bottom: 4vh;
}

.content-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 60vh);
    grid-template-rows: repeat(3, 20vh);
    row-gap: 6vh;
    position: absolute;
}

.content-card {
    display: flex;
    height: 19vh;
    width: 50vh;
    flex-direction: column;
    -webkit-transition: -webkit-transform 0.1s;
    -moz-transition: -moz-transform 0.1s;
    -ms-transition:  -ms-transform 0.1s;
    transition:  transform 0.1s;
} 
.content-card:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.1s;
    -moz-transition: -moz-transform 0.1s;
    -ms-transition:  -ms-transform 0.1s;
    transition:  transform 0.1s;
}

.card-images {
    display: flex;
    justify-content: flex-end;
    column-gap: 2vh;
}

.card-icons {
    height: 26px;
    -webkit-transition: -webkit-transform 0.1s;
    -moz-transition: -moz-transform 0.1s;
    -ms-transition:  -ms-transform 0.1s;
    transition:  transform 0.1s;
} 

.card-icons:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: -webkit-transform 0.1s;
    -moz-transition: -moz-transform 0.1s;
    -ms-transition:  -ms-transform 0.1s;
    transition:  transform 0.1s;
}

.top-right-content {
    grid-area: top-right;
}

.top-side-description {
    margin: 0;
}

.side-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quote {
    font-size: 18px;
}

.author {
    display: flex;
    justify-content: flex-end;
}


